.admin {
    margin: 80px auto 100px;
    max-width: 1260px;
    min-height: 600px;
    padding: 0 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.name {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 50px 0;
}

.tabs {
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: rgba(173, 144, 144, 0.1);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.tab {
    font-size: 16px;
    border: none;
    background: none;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out;
}

.tab:hover {
    cursor: pointer;
    background-color: #c3aed6;
    border-radius: 5px;
    color: white;
}

.tab_active {
    cursor: none;
    background-color: #c3aed6;
    border-radius: 5px;
    color: white;
}