.cabinet {
    margin: 80px auto 100px;
    max-width: 1260px;
    min-height: 600px;
    padding: 0 20px;
}

.name {
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 50px 0;
}

.tabs {
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: rgba(173, 144, 144, 0.1);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
}

.tab {
    font-size: 20px;
    border: none;
    background: none;
    padding: 10px 30px;
    transition: all 0.2s ease-in-out;
}

.tab:hover {
    cursor: pointer;
    background-color: #c3aed6;
    border-radius: 5px;
    color: white;
}

.tab_active {
    cursor: none;
    background-color: #c3aed6;
    border-radius: 5px;
    color: white;
}


.productList {
    list-style-type: none;
    padding: 0;
    grid-template: auto / repeat(auto-fit,minmax(200px, 220px));
    column-gap: 30px;
    row-gap: 50px;
    margin-bottom: 100px;
    display: none;
}

.zakazList {
    list-style-type: none;
    padding: 0;
    display: none;
}

.infoList {
    list-style-type: none;
    padding: 0;
    grid-template: auto / repeat(auto-fit,minmax(200px, 1fr));
    align-items: flex-end;
    column-gap: 30px;
    row-gap: 50px;
    margin-bottom: 100px;
    display: none;
}

.content_active {
    display: grid;
}

.good_wrapper {
    border-radius: 5px;
    border: 1px dotted rgba(138, 138, 138, 0.3);
    padding: 0 15px;
    margin-bottom: 20px;
}

.good {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
    border: 1px dotted rgba(138, 138, 138, 0.3);
    padding: 15px;
    margin-bottom: 10px;
}

.img {
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

.spec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.good_name {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.specItem {
    margin: 0;
    
}


.price {
    margin: 0;
    font-weight: 500;
}

.subtitle {
    margin: 0;
}

.button {
    cursor: pointer;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    background-color: #c3aed6;
    border-radius: 5px;
    color: white;
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
